<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RRHHOrtiz.Properties.Settings.ConnectionString" connectionString="Data Source=10.211.55.2,1433;User ID=sa;Password=Password01" providerName="System.Data.SqlClient" />
    <add name="RRHHOrtiz.Properties.Settings.RRHHOrtizConnectionString" connectionString="Data Source=10.211.55.2,1433;Initial Catalog=RRHHOrtiz;User ID=aneudys;Password=Password01" providerName="System.Data.SqlClient" />
  <add name="RRHHOrtizEntities" connectionString="metadata=res://*/BD.RHContext.csdl|res://*/BD.RHContext.ssdl|res://*/BD.RHContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.211.55.2,1433;initial catalog=RRHHOrtiz;user id=aneudys;password=Password01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>